
:root {
    --colorFuschia100: #ef5da8;    
    --colorFuschia80: #f178b6;    
    --colorFuschia60: #fcddec;    
    --colorIris100: #5d5fef;    
    --colorIris80: #7879f1;    
    --colorIris60: #a5a6f6;    
}